#second-slide
	
	.tp-slide__main
		padding 1rem 1.5rem
		text-align center
		
	img
		max-height 100px
		margin 0 0 2rem
	
	h3
		margin 0 0 1rem
		text-shadow 2px 2px #00fbfb
		
		span:not(:empty)::before
			content ', '
	p
		margin-bottom 2rem
	
	.input-group
		max-width 80%
		margin 0 auto