#third-slide

	
	.tp-slide__header > div > div
		margin 0
		display flex
		align-items center
		input
			margin 0
			padding 0
			border-radius 0
			background none
			box-shadow none
			border none
			color $heading_color
			font-family $sf
			font-weight 700
			color $heading_color
			
	.tp-slide__header > div > div:first-of-type
		width 100%
		
	.dropdown-toggle
		padding-left 15px