/*=====================================*/
/* FIRST SLIDE
/*=====================================*/

#first-slide
	text-align center
	
	.tp-slide__main
		padding 15px 30px
	
	img
		max-height 100px
		margin 0 0 30px	
		
	p
		margin-bottom 0
	
	h3
		margin 0 0 15px
		text-shadow 2px 2px #00fbfb