body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100%;
  background: #fff;
  margin: 0 auto;
  text-align: center;
}
.app-block {
  width: 350px;
  height: 486px;
  overflow: scroll;
  text-align: center;
  margin: 0 auto;
  outline: 1px solid #979797;
}
.add-task {
  display: none;
}
.task-block {
  font-family: "Century Gothic";
  font-size: 13px;
  position: relative;
  color: #979797;
  text-align: left;
  padding: 5px 25px 5px 25px;
  border-bottom: 1px solid #979797;
  margin-top: 10px;
}
.task-block .name {
  margin-bottom: 5px;
  color: #8e8e91;
}
.task-block .date span {
  font-style: italic;
  font-size: 10px;
}
.task-block .date .exp-date {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
}
.task-block .precent {
  position: absolute;
  right: 30px;
  bottom: 35px;
  font-size: 21px;
  font-weight: bold;
  font-style: italic;
}
.task-block .progress-wrapper {
  position: relative;
}
.task-block .progress-bg {
  width: 300px;
  height: 11px;
  margin: 10px 0px 10px 0px;
  opacity: 0.5;
  border-radius: 5px;
}
.task-block .progress-bar {
  top: 0;
  height: 11px;
  border-radius: 5px;
  position: absolute;
  opacity: 1;
}
.task-block:first-child {
  padding-top: 95px;
  margin-top: 0px;
}
.task-block:last-child {
  border-bottom: none;
}
.main-page {
  position: relative;
  top: 0px;
}
.main-page .tabs {
  border-bottom: 3px solid #4690eb;
  overflow: auto;
  z-index: 100;
  width: 350px;
  top: 0;
  position: fixed;
  background: #fff;
  box-shadow: 0px 8px 2px rgba(255,255,255,0.5);
}
.main-page .tabs .current:after {
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 1px);
  display: block !important;
  height: 60px;
  width: 2px;
  background: linear-gradient(to bottom, #fff 0%, #fff 25%, #979797 100%);
}
.main-page .tabs .active-tab {
  opacity: 1;
  background: #fff;
  background: linear-gradient(to bottom, #fff 0%, #fff 47%, #c5dfff 100%);
}
.main-page .tabs a {
  display: block;
  color: #8e8e91;
  line-height: 85px;
  opacity: 0.7;
  text-align: center;
  float: left;
  width: 50%;
  margin: 0;
  padding: 0;
  height: 60px;
  font-family: "Franklin Gothic Medium";
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}
.task-name {
  height: 60px;
  border-bottom: 1px solid #979797;
  position: relative;
}
.task-name input {
  transition: all 0.2s linear;
  left: 0;
  right: 0;
  bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  width: 180px;
  position: absolute;
  border: none;
  font: 20px "Charter";
  font-weight: bold;
  letter-spacing: 2.22px;
  text-align: center;
  color: #4690eb;
}
.task-name input::placeholder {
  color: #4690eb;
}
.task-name input:focus {
  outline: none;
}
.task-name .color-picker {
  width: 70px;
  height: 44px;
  position: absolute;
  right: 10px;
  top: 8px;
}
.task-name .color-picker a {
  display: block;
  width: 15px;
  height: 15px;
  border: 1px solid transparent;
  background-color: #000;
  float: left;
  margin: 2.5px;
}
.task-name .color-picker .blue {
  background-color: #4690eb;
}
.task-name .color-picker .deep-green {
  background-color: #63da38;
}
.task-name .color-picker .red {
  background-color: #ff3b30;
}
.task-name .color-picker .light-blue {
  background-color: #bbdefb;
}
.task-name .color-picker .purple {
  background-color: #cc73e1;
}
.task-name .color-picker .olive {
  background-color: #cddc39;
}
.slideNumbers {
  cursor: none;
  box-shadow: 0 1px 0 #8e8e91;
  border-bottom: solid 5px #fff;
}
.slideNumbers a {
  font-family: "Century Gothic";
}
.slideNumbers .number-wrapper {
  margin-top: -6px;
}
.buttons-wrapper {
  text-align: center;
  padding-bottom: 10px;
  margin-top: 10px !important;
}
.form-part {
  margin-top: 25px;
}
.form-part #send-data + #cancel-data {
  margin-left: 15px;
}
.form-part #send-data,
.form-part #cancel-data {
  display: inline-block;
  width: 46px;
  height: 46px;
}
.form-part #send-data {
  background: url("assets/apply-button.png");
}
.form-part #cancel-data {
  background: url("assets/cancel.png");
}
.form-part textarea {
  width: 80%;
  resize: none;
  border: none;
  border-bottom: 1px solid #8e8e91;
  font-family: "Century Gothic";
  font-size: 12px;
  font-style: italic;
  padding-bottom: 5px;
  color: #979797;
}
.form-part .timer-wrapper {
  margin: 0 auto;
  text-align: center;
}
.form-part .checkbox-wrapper + .checkbox-wrapper {
  margin-left: 20px;
}
.form-part .checkbox-wrapper {
  display: inline-block;
  font-family: "Century Gothic";
  font-size: 12px;
  color: #979797;
}
.form-part .checkbox-wrapper span {
  margin-left: 5px;
}
.form-part .wrapper {
  width: 250px;
  margin: 0 auto;
  text-align: center;
}
.form-part .radio-wrapper + .radio-wrapper {
  margin-left: 20px;
}
.form-part .radio-wrapper {
  display: inline-block;
}
.form-part label {
  font: bold 12px "Century Gothic";
  color: #8e8e91;
}
.form-part .section-name {
  font: 13px "Century Gothic";
  letter-spacing: 1.92px;
  color: #979797;
}
.datepicker-panel {
  font-family: "Century Gothic";
  color: #979797;
padding
}
.datepicker-container {
  box-shadow: none !important;
  padding: 7px;
}
:after {
  display: none !important;
}
:before {
  display: none !important;
}
#exp-date {
  width: 100px;
  outline: none;
  text-align: center;
  font-family: "Century Gothic";
  font-style: italic;
  color: #979797;
  padding-bottom: 5px;
  border-bottom: 1px solid #8e8e91;
  border-top: none;
  border-right: none;
  border-left: none;
}
:focus {
  outline: none;
}
.color-picker .active {
  outline: 1px solid #979797;
}
.blue::placeholder {
  color: #4690eb !important;
}
.deep-green::placeholder {
  color: #63da38 !important;
}
.red::placeholder {
  color: #ff3b30 !important;
}
.purple::placeholder {
  color: #cc73e1 !important;
}
.light-blue::placeholder {
  color: #bbdefb !important;
}
.olive::placeholder {
  color: #cddc39 !important;
}
