
.card
	border 1px solid #eaeaea
	
.card-block
	padding 15px
	text-align center
	// border-color #d2d2d2
	
.card-header
	background none
	font-size 12px
	text-transform uppercase
	font-weight 700
	text-align center
	font-family $sf
	background-color #f8f8f8
	border-bottom 1px solid #eaeaea

.card
	border-radius 4px
	box-shadow 0 3px 5px 0 rgba(#171717, .1)

.card + .card
	margin-top 20px