.slideNumbers {
  width: 35px;
  height: 34px;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
.slideNumbers a {
  display: block;
}
.slideNumbers .active-number {
  transform: scale(1.5);
  transition: all 0.15s linear;
  color: rgba(0,0,0,1);
}
.slideNumbers a {
  color: rgba(0,0,0,0.5);
}
.slideNumbers .number-wrapper {
  transition: all 0.3s ease-in-out;
}
