@import url('https://fonts.googleapis.com/css?family=Lora:400i|Poppins:400,600|Rubik:400,400i,700')


$pf = 'Rubik', sans-serif
$sf = 'Poppins', sans-serif
$tf = 'Lora', serif
$fa = 'FontAwesome'



$primary_color = #f43861
$secondary_color = #047bf8
$white_color = #ffffff

$c0 = #909090
$c1 = #e0e0e0


$red_color = #fa6464
$orange_color = #f5a458
$yellow_color = #f2cc60
$green_color = #73c85d
$blue_color = #56baef
$purple_color = #ce8ddd
$gray_color = #a4a4a7

$heading_color = #334152
$text_color = #3e4b5b

// Mixins

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}


// Global Styles

html
	box-sizing border-box

*,
*::before,
*::after
	box-sizing inherit

html,
body
	height 100%
	
body
	margin 0
	padding 0 15px
	font-family $pf
	font-size 14px
	color $text_color
	line-height 1.6
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	background linear-gradient(to bottom right, #D7BBEA, #65A8F1)

h1, h2, h3, h4, h5, h6
	margin 10px 0
	font-weight 700
	line-height 1.2
	font-family $sf
	letter-spacing -.03em
	color $heading_color
	
h1
	font-size 36px

h2
	font-size 30px

h3
	font-size 24px

h4
	font-size 18px
	
h5
	font-size 15px

h6
	font-size 12px

p
	margin 0 0 1rem
	
a
	color inherit
	text-decoration none
	transition all .2s linear
	&:hover
		text-decoration none
	
i
	font-family $tf
	
img
	max-width 100%
	height auto

ul,
ol
	margin 0
	padding 0
	list-style-type none


input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="number"],
textarea
	width 100%
	padding 10px 15px
	color rgba($text_color, .6)
	font-size 14px
	outline none
	appearance none
	// border 1px solid #eeeeee
	// background-color #fafafa
	
	+placeholder()
		color rgba($text_color, .6)
		opacity 1
	
	&:focus
		outline none
		box-shadow inset 0 1px 2px rgba($heading_color, .2)




.custom-control-input:checked~.custom-control-indicator
	background-color $secondary_color

// Dropdown

.dropdown-toggle
	color #98a6ad
	outline none
	&::after
		display none
	&:hover
		color #98a6ad
	

.dropdown-header
	margin 0
	color #aeaeaf
	font-family $sf
	font-size 10px
	font-weight 700
	letter-spacing 1px
	text-transform uppercase
	
.dropdown-menu
	border 1px solid rgba($heading_color, .1)

.dropdown-item
	display flex
	align-items center
	color $text_color
	font-size 14px
	&:focus,
	&:hover
		color $heading_color
		background-color #fafafa


.tp-color-dot
	position relative
	display inline-flex
	align-items center
	justify-content center
	height 1em
	width 1em
	margin-right 5px
	border-radius 50%
	border 2px solid
	
	&::before
		content '\f00d'
		display flex
		align-items center
		justify-content center
		position absolute
		top 0
		left 0
		bottom 0
		right 0
		font-family $fa
		font-size 10px
		line-height 1
		color rgba($text_color, .3)
		opacity 0
	
a.is-active:hover [data-color]::before
	opacity 1
	

[data-color="red_color"]
	background-color $red_color
	border-color darken($red_color, 10%)
	&::before
		color rgba(#000, .5)
		
[data-color="orange_color"]
	background-color $orange_color
	border-color darken($orange_color, 10%)

[data-color="yellow_color"]
	background-color $yellow_color
	border-color darken($yellow_color, 10%)

[data-color="green_color"]
	background-color $green_color
	border-color darken($green_color, 10%)

[data-color="blue_color"]
	background-color $blue_color
	border-color darken($blue_color, 10%)	

[data-color="purple_color"]
	background-color $purple_color
	border-color darken($purple_color, 10%)	

[data-color="gray_color"]
	background-color $gray_color
	border-color darken($gray_color, 10%)	


// Buttons and links

.tp-btn
	display inline-block
	padding 8px 20px
	border-radius 4px
	font-family $sf
	font-size 12px
	line-height 1.2
	font-weight 700
	letter-spacing 1px
	text-transform uppercase
	white-space nowrap
	
	&--primary
		color $white_color
		background-color $primary_color
		box-shadow 0 2px 0 darken($primary_color, 15%)
		&:hover
			color $white_color
			background-color darken($primary_color, 10%)
			box-shadow 0 2px 0 darken($primary_color, 15%)
		&:active
			box-shadow 0 1px 0 darken($primary_color, 20%)
			
	&--secondary
		color $c0
		background-color $c1
		box-shadow 0 2px 0 darken($c1, 15%)
		
		&:hover
			color $white_color
			background-color darken($c1, 10%)
			box-shadow 0 2px 0 darken($c1, 15%)
			
		&:active
			box-shadow 0 1px 0 darken($c1, 20%)
			
	&.disabled
		opacity .5
		pointer-events none
		
	&:active
		top 1px
		
	
.tp-simple-link
	color $secondary_color
	text-decoration underline
	&:hover
		color $secondary_color


// Main window

.tp-main
	display flex
	align-items center
	justify-content center
	flex-direction column
	height 100%
	width 100%

.tp-main__inner
	position relative
	width 100%
	height 100%
	max-width 350px
	max-height 480px
	background-color $white_color
	border-radius 6px
	box-shadow 0px 5px 10px 0px rgba($heading_color, .1)
	
.tp-copyright
	margin 1rem 0 0
	font-family $sf
	font-size 8px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px
	color rgba($white_color, 50%)


.tp-slides
	position relative
	margin 0
	padding 0
	height 100%
	list-style-type none

	.tp-slide
		display flex
		flex-direction column
		position absolute
		height 100%
		width 100%
		
		// Slide Out
		filter blur(5px)
		opacity 0
		visibility hidden
		transform scale(.8)
		> *
			flex 1 1 auto

		
		&__header
			padding 1rem
			border-bottom 1px solid rgba($heading_color, .05)
			> div
				display flex
				justify-content space-between
				
		
		&__footer
			padding 1rem
			border-top 1px solid rgba($heading_color, .05)
			> div
				display flex
				justify-content space-between
				
		&__main
			height 100%
			overflow-y auto
			padding 1rem
			&::-webkit-scrollbar
				display none
				
			&--center
				display flex
				align-items center
				

		&.is-active
			visibility visible
			animation slide-in .2s linear both
		

@keyframes slide-in
	0%
		filter blur(5px)
		opacity 0
		transform scale(.8)
	100%
		filter none
		opacity 1
		transform scale(1)


// Preloader

.tp-preloader
	display flex
	align-items center
	justify-content center
	position fixed
	top 0
	left 0
	width 100%
	height 100%
	z-index 2
	background-color $white_color
	&__inner
		width 40px
		height 40px
		border-width 3px 
		border-style solid
		border-color rgba($primary_color, 10%) rgba($primary_color, 10%) rgba($primary_color, 10%) $primary_color
		border-radius 50%
		animation clockwise 1s linear infinite
	
@keyframes clockwise
	to
		transform rotate(360deg)

// First slide

#first-slide
	text-align center
	
	.tp-slide__main
		padding 1rem 1.5rem
		
	p
		margin-bottom 0
	
	h3
		margin 0 0 1rem

#second-slide
	
	.tp-slide__main
		padding 1rem 1.5rem
		text-align center
		
	img
		max-height 100px
		margin 0 0 2rem
	
	h3
		margin 0 0 1rem
		
		span:not(:empty)::before
			content ', '
	p
		margin-bottom 2rem
	
	.input-group
		max-width 80%
		margin 0 auto
			

#third-slide
	
	.tp-slide__header > div > div
		margin 0
		display flex
		align-items center
		width 100%
		input
			margin 0
			padding 0
			border-radius 0
			background none
			box-shadow none
			border none
			color $heading_color
			font-family $sf
			font-weight 700
			color $heading_color
		
	.dropdown-toggle
		padding-left 15px

.card-block
	padding 1rem
	text-align center
	
.card-header
	background none
	font-size 12px
	text-transform uppercase
	font-weight 700
	text-align center
	font-family $sf

.card
	border-radius 4px
	box-shadow 0 0 30px 0 rgba(0, 0, 0, .1)

.card + .card
	margin-top 1rem