@import url('https://fonts.googleapis.com/css?family=Lora:400i|Poppins:400,600|Rubik:400,400i,700')


$pf = 'Rubik', sans-serif
$sf = 'Poppins', sans-serif
$tf = 'Lora', serif
$fa = 'FontAwesome'


$primary_color = #f43861
$secondary_color = #047bf8
$white_color = #ffffff

$c0 = #909090
$c1 = #e0e0e0


$red_color = #fa6464
$orange_color = #f5a458
$yellow_color = #f2cc60
$green_color = #73c85d
$blue_color = #56baef
$purple_color = #ce8ddd
$gray_color = #a4a4a7

$heading_color = #334152
$text_color = #3e4b5b

// Mixins

placeholder()
	&::-webkit-input-placeholder
		{block}
	&:-moz-placeholder
		{block}
	&::-moz-placeholder
		{block}
	&:-ms-input-placeholder
		{block}


// Global Styles

html
	box-sizing border-box

*,
*::before,
*::after
	box-sizing inherit

html,
body
	height 100%
	
body
	margin 0
	padding 0 15px
	
	font-family $pf
	font-size 14px
	color #464646
	line-height 1.6
	text-rendering optimizeLegibility
	-webkit-font-smoothing antialiased
	
	background linear-gradient(to bottom right, #D7BBEA, #65A8F1)

h1, h2, h3, h4, h5, h6
	margin 10px 0
	
	font-weight 700
	line-height 1.2
	font-family $sf
	letter-spacing -.03em
	color #171717
	
h1
	font-size 36px

h2
	font-size 30px

h3
	font-size 24px

h4
	font-size 18px
	
h5
	font-size 15px

h6
	font-size 12px

p
	margin 0 0 15px
	
a
	color inherit
	text-decoration none
	transition all .2s linear
	&:hover
		text-decoration none
	
i
	font-family $tf
	
img
	max-width 100%
	height auto

ul,
ol
	margin 0
	padding 0
	list-style-type none

.form-control
	padding 8px 15px
	
	color #464646
	border-color #eaeaea

.form-control:focus
	outline none !important
	border-color $secondary_color
	box-shadow 0 0 0 1px #fff, 0 0 0 .2rem rgba($secondary_color, .25)
	
.input-group-addon
	padding 8px 13px
	color #757575
	background-color #f8f8f8
	border-color #eaeaea

.custom-checkbox
	outline none !important
	display inline-flex
	align-items center
	margin 0
	& + .custom-checkbox
		margin-left 15px
		
.custom-control-input:checked~.custom-control-indicator
	background-color $secondary_color
	
.custom-control-indicator
	background-color #eaeaea
	
.custom-control-input:focus~.custom-control-indicator
	box-shadow 0 0 0 1px #fff, 0 0 0 .2rem rgba($secondary_color, .25)


.dropdown-toggle
	color #757575
	outline none
	&::after
		display none
	&:hover
		color #464646

.dropdown-header
	margin 0
	color #bbb
	font-family $sf
	font-size 10px
	font-weight 700
	letter-spacing 1px
	text-transform uppercase
	
.dropdown-menu
	border 1px solid #eaeaea
	
.dropdown-item
	display flex
	align-items center
	color #464646
	font-size 14px
	&:focus,
	&:hover
		color #171717
		background-color #f8f8f8




/*=====================================*/
/* MAIN WINDOW
/*=====================================*/

.tp-main
	display flex
	align-items center
	justify-content center
	flex-direction column
	
	height 100%
	width 100%

	&__inner
		position relative
		width 100%
		height 100%
		max-width 350px
		max-height 480px
		
		border-radius 6px
		background-color #fff
		box-shadow 0px 5px 10px 0px rgba(#171717, .1)
	
.tp-copyright
	margin 15px 0 0
	
	font-family $sf
	font-size 8px
	text-transform uppercase
	font-weight 700
	letter-spacing 2px
	color rgba(#fff, 50%)

	


@import 'particles/preloader'
@import 'particles/slides'
@import 'particles/card'
@import 'particles/buttons'
@import 'particles/color-dot'

@import 'slides/slide-01'
@import 'slides/slide-02'
@import 'slides/slide-03'

